body{
    font-family: 'Lato', sans-serif;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 18.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.start-100 {
    left: 80%!important;
    padding: 5px 10px;
}
.third{
    border-radius: 50%;
}

.main-table{
    margin-top: -30px;
}

footer{
    background-color: #000000;
}